.App {
  background-color: #ffe7e7;
  text-align: center;
}


.App-header {
  background-color: coral;
  height: 180px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  font-family: Impact;


  /* background-color: #5c4aff; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: black;
}
.card {
  display: flex;
  flex-wrap: wrap;
}

.font{
  font-size: 18px;
  font-family:fantasy;
  font-weight: bold;
  color: blue
}
